<section class="ftco-section">    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mt5 mb5">
                <h1 class="heading-section">Welcome To</h1>            
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h1 class="heading-section fontSize50">Exam Portal</h1>            
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <form action="#" class="signin-form">
                        <h3 class="mb-4 text-center">Have an account?</h3>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3" [routerLink]="'/login'">Sign In</button>
                        </div>
                        <h3 class="mb-4 text-center">Don't have an account?</h3>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3" [routerLink]="'/signup'">Sign Up</button>
                        </div>
                    </form>
                    <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                    <div class="social d-flex text-center">
                        <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                        <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>